body {
    background-color: #1d1113;
    font-family: @font-primary;
    color: #ffeca3;
}

h2 {
    color: #ffeca3 !important;
}

.page {
    overflow-x: hidden;
    background:
                url('../img/top-background.png') 50% 0% no-repeat,
                url('../img/bottom-background.jpg') 50% 100% no-repeat;
    background-size:
                100% auto,
                100% auto;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 160px;
    @media (max-width: @breakpoint-medium-max) {
        padding: 0 20px;
    }
}

.header {
    max-width: 1510px;
    margin: 155px auto 160px;
    text-align: right;
    position: relative;
    z-index: 1;
    @media (max-width: @breakpoint-large-max) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.spray-background {
    width: 50%;
    padding-top: 50%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: url('../img/spray.png') 50% 0% no-repeat;
    background-size: 100% auto;
}

.container-decor {
    position: relative;
    border: 1px solid rgba(176,179,184,0.2);
    background-color: rgba(29,33,39,0.1);
}

.section-title {
    margin-bottom: 20px !important;
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
}

.about {
    padding-top: 77px;
    position: relative;
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-gap: 86px;
    margin-bottom: 65px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
    p {
        margin: 34px 0;
    }
    @media (max-width: @breakpoint-medium-max) {
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
}

.goals {
    display: flex;
    margin-bottom: 118px;
    padding-top: 118px;
    border-top: 1px solid rgba(176,179,184,0.2);
    position: relative;
    @media (max-width: @breakpoint-medium-max) {
        flex-direction: column;
    }
}

.goals__heading {
    width: 13.5%;
    margin-right: 3%;
    writing-mode: tb;
    transform: rotate(180deg);
    transform-origin: center;
    text-align: center;
    color: rgb(255,239,175);
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 400;
    letter-spacing: 14px;
    line-height: 1;
    @media (max-width: @breakpoint-medium-max) {
        writing-mode: initial;
        transform: none;
        margin-bottom: 60px;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        width: 100%;
        font-size: 68px;
        letter-spacing: 0;
    }
}

.goals__list {
    width: 82.5%;
    margin: 0;
    padding: 0;
    //margin-left: 200px;
    font-size: 24px;
    line-height: 1.5;
    list-style: none;
    li {
        &:nth-child(1) {
            margin-bottom: 142px;
            &::before {
                margin-right: 30px;
                background: url('../img/counter-1.png') 50% 50% no-repeat;
                background-size: auto;
                @media (max-width: @breakpoint-xsmall-max) {
                    margin-right: 20px;
                }
            }
            @media (max-width: @breakpoint-xsmall-max) {
                margin-bottom: 50px;
            }
        }
        &:nth-child(2) {
            margin-left: 19%;
            margin-bottom: 115px;
            &::before {
                margin-right: 60px;
                background: url('../img/counter-2.png') 50% 50% no-repeat;
                background-size: 100% 100%;
                @media (max-width: @breakpoint-xsmall-max) {
                    margin-right: 20px;
                }
            }
            @media (max-width: @breakpoint-xsmall-max) {
                margin-left: 0;
            }
            @media (max-width: @breakpoint-xsmall-max) {
                margin-bottom: 50px;
            }
        }
        &:nth-child(3) {
            margin-left: 37%;
            &::before {
                margin-right: 60px;
                background: url('../img/counter-3.png') 50% 50% no-repeat;
                background-size: 100% 100%;
                @media (max-width: @breakpoint-xsmall-max) {
                    margin-right: 20px;
                }
            }
            @media (max-width: @breakpoint-xsmall-max) {
                margin-left: 0;
            }
        }
        &::before {
            content: '';
            width: 150px;
            height: 150px;
            float: left;
            font-family: @font-counters;
            font-size: 149px;
            line-height: 1;
            @media (max-width: @breakpoint-xsmall-max) {
                display: block;
                width: 75px;
                height: 75px;
                float: none;
                margin-bottom: 20px;
            }
        }
    }
    @media (max-width: @breakpoint-medium-max) {
        width: 100%;
    }
}

.progress {
    margin-top: 135px;
}

.progress__text {
    margin-top: 55px;
    margin-bottom: 195px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
}

.illustrations {
    max-width: 1510px;
    margin: 0 auto 283px;;
}

.variant-first {
    margin-bottom: 20px;
    position: relative;
    //padding-top: 80%;
    //background: url('../img/variant-1.png') 50% 0% no-repeat;
    //background-size: 100% auto;
    @media (max-width: @breakpoint-medium-max) {
        margin-top: 350px;
    }
}

.variant-first__step-marker {
    top: -300px;
    right: 10.5%;
    @media (max-width: @breakpoint-xsmall-max) {
        top: -270px;
    }
}

.step-marker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.step-marker__number {
    margin-bottom: 39px;
    @media (max-width: @breakpoint-xsmall-max) {
        width: 75px;
        height: 75px;
    }
}

.step-marker__text {
    min-width: 276px;
    box-sizing: border-box;
    padding: 18px;
    background-color: #ffec9e;
    font-size: 36px;
    line-height: 1;
    color: #000;
    text-align: center;
    @media (max-width: @breakpoint-small-max) {
        font-size: 18px;
    }
}

.step-marker__thread {
    min-height: 92px;
    border-right: 1px dashed #ffec9e;
}

.dot {
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    border-radius: 50%;
    background-color: #ffec9e;
}

.step-marker__dot {
    margin-bottom: 82px;
    .dot;
    @media (max-width: @breakpoint-small-max) {
        margin-bottom: 25px;
    }
}

.step-marker__title {
    @media (max-width: @breakpoint-small-max) {
        width: 50%;
    }
}

.variant-second {
    position: relative;
    //padding-top: 80%;
    //background: url('../img/variant-2.png') 50% 0% no-repeat;
    //background-size: 100% auto;
}

.variant-marker-second {
    display: flex;
    position: absolute;
    top: 53%;
    right: 10%;
}

.variant-marker-second__title {
    margin-right: 23px;
    @media (max-width: @breakpoint-small-max) {
        width: 50%;
    }
}

.variant-marker-second__dot {
    .dot;
    position: relative;
    &::after {
        content: '';
        min-width: 100vw;
        border-top: 1px dashed #ffec9e;
        position: absolute;
        top: 50%;
        right: 0;
        transform-origin: 100% 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%) rotate(180deg);
    }
}

.illustrations-result {
    display: flex;
    position: relative;
    top: -50px;
    @media (max-width: @breakpoint-xsmall-max) {
        flex-direction: column;
        align-items: center;
    }
}

.illustrations-result__notebook {
    width: 75%;
    @media (max-width: @breakpoint-medium-max) {
        width: 50%;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        margin-bottom: 50px;
        width: 100%;
    }
}

.illustrations-result__content {
    width: 25%;
    position: relative;
    top: -105px;
    left: -12.6%;
    @media (max-width: @breakpoint-medium-max) {
        width: 50%;
        left: 0;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
        top: 0;
    }
}

.design-desc_product {

}
.illustrations-result__text {
    font-size: 18px;
    font-weight: 500;
    p {
        margin: 57px 0;
    }
}

.illustrations-result__winner {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.illustrations-result__arrow {
    position: absolute;
    top: 60%;
    left: -35%;
    svg {
        fill: #fff;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        display: none;
    }
}

.design {
    max-width: 1510px;
    margin: 0 auto;
    margin-bottom: 415px;
}

.design-item {
    display: flex;
    margin-bottom: 67px;
    position: relative;
    @media (max-width: @breakpoint-xsmall-max) {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.design-item__image {
    width: 75%;
}

.design__step-marker {
    top: -315px;
    right: 10.5%;
    .step-marker__number {
        margin-bottom: 40px;
    }
    @media (max-width: @breakpoint-small-max) {
        min-height: 100px;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        top: -270px;
    }
}

.design-desc {
    width: 25%;
    margin-top: 30.9%;
    position: relative;
    @media (max-width: @breakpoint-large-max) {
        padding-left: 20px;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        width: 100%;
        margin-top: 50px;
    }
}

.design-desc-marker {
    display: flex;
    align-items: center;
    margin-bottom: 92px;
    @media (max-width: @breakpoint-xsmall-max) {
        margin-bottom: 25px;
    }
}

.design-desc-marker__title {
    padding: 18px 22px;
    background-color: #ffec9e;
    font-size: 36px;
    line-height: 1;
    color: #000;
    text-align: center;
    @media (max-width: @breakpoint-small-max) {
        font-size: 18px;
    }
}

.design-desc-marker__thread {
    min-width: 53%;
    border-top: 1px dashed #ffec9e;
    @media (max-width: @breakpoint-xsmall-max) {
        display: none;
    }
}

.design-desc-marker__dot {
    .dot;
    @media (max-width: @breakpoint-xsmall-max) {
        display: none;
    }
}

.design-desc__text {
    width: 65%;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 500;
    @media (max-width: @breakpoint-medium-max) {
        width: 100%;
    }
    @media (max-width: @breakpoint-small-max) {
        font-size: 14px;
    }
}

.design-desc_product {
    margin-top: 7%;
    .design-desc-marker__title {
        min-width: 276px;
        box-sizing: border-box;
    }
    .design-desc-marker__thread {
        min-width: 26%;
    }
}

.coding {
    margin-bottom: 30%;
    position: relative;
}

.coding__desktop {
    width: 49%;
    position: relative;
    left: 50%;
    top: 0;
    z-index: 1;
    transform: translateX(-50%);
}

.coding__laptop {
    width: 46.5%;
    position: absolute;
    left: 46%;
    top: 87%;
    z-index: 2;
}

.coding__mobile {
    width: 20%;
    position: absolute;
    left: 49%;
    top: 100%;
    z-index: 3;
}

.coding__step-marker {
    top: -325px;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: @breakpoint-small-max) {
        top: -270px;
    }
}

.ending {
    margin-left: 51.3%;
    margin-bottom: 217px;
    font-size: 60px;
    letter-spacing: 6px;
    line-height: 1;
    color: #fff;
    @media (max-width: @breakpoint-large-max) {
        margin-left: 0;
        font-size: 50px;
        letter-spacing: 2px;
        text-align: center;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 30px;
    }
}

.studio {
    position: fixed;
    top: 26px;
    left: 10px;
    z-index: 10;
    @media (max-width: @breakpoint-xsmall-max) {
        transform: scale(0.7);
    }
}

.prev {
    display: inline-block;
    position: fixed;
    left: 0;
    bottom: 20px;
    z-index: 10;
    padding: 10px 13px 10px 6px;
    background-color: #707071;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    white-space: nowrap;
    span {
        position: relative;
        top: -2px;
    }
    &:hover {
        background-color: #686f78;
        color: #fff;
        text-decoration: none;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 12px;
    }
}

.next {
    display: inline-block;
    position: fixed;
    right: 0;
    bottom: 20px;
    z-index: 10;
    padding: 10px 6px 10px 13px;
    background-color: #707071;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    white-space: nowrap;
    span {
        position: relative;
        top: -2px;
    }
    &:hover {
        background-color: #686f78;
        color: #fff;
        text-decoration: none;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 12px;
    }
}

.back {
    width: 136px;
    height: 136px;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid #fff;
    position: fixed;
    top: 50%;
    left: -80px;
    z-index: 10;
    transform: translate(0,-50%) rotate(45deg);
    transform-origin: center;
    transition: transform 0.2s;
    &::before {
        content: '←';
        position: absolute;
        top: 20%;
        left: 70%;
        transform: translate(-50%,-50%) rotate(-45deg);
        transform-origin: center;
        font-size: 60px;
        color: #fff;
        line-height: 1;
        transition: transform 0.2s;
    }
    &:hover {
        transform: translate(10px,-50%) rotate(45deg);
        background-color: rgba(0,0,0,0.5);
        transition: transform 0.2s, background-color 0.2s;
        &::before {
            color: #fff;
            text-decoration: none;
            transform: translate(-35%,-65%) rotate(-45deg);
            transition: transform 0.2s;
        }
        @media (max-width: @breakpoint-xsmall-max) {
            transform: translate(10px,-50%) rotate(45deg) scale(0.7);
        }
    }
    @media (max-width: @breakpoint-xsmall-max) {
        transform: translate(0,-50%) rotate(45deg) scale(0.7);
    }
}
